<nav>
  <ul>
    <li><a routerLink="/displayhelloworld">Display Hello World</a></li>
    <li><a routerLink="/showhellobutton">"Show Hello World" </a></li>
    <li><a routerLink="/displayname">Display User Name</a></li>
    <li><a routerLink="/counter">Counter</a></li>
    <li><a routerLink="/simpleform">Dispplay Simple Form</a></li>
    <li><a routerLink="/userage">Display User Age</a></li>
    <li><a routerLink="/usergreeting">Display User Personalized Greeting</a></li>
    <li><a routerLink="/calculator">Simple Calculator</a></li>
    <li><a routerLink="/textlength">Display the length of the string</a></li>
    <li><a routerLink="/currencyconverter">convert it to another currency</a></li>
    <li><a routerLink="/evenoddchecker">check if it is even or odd</a></li>
    <li><a routerLink="/wordreverser">display the word reversed</a></li>
    <li><a routerLink="/showdate">shows the current date and time</a></li>
    <li><a routerLink="/showusername">Display Username</a></li>
    <li><a routerLink="/multiplicationtable">generate its multiplication table</a></li>
    <li><a routerLink="/simplelogin">simple login form</a></li>
    <li><a routerLink="/farenheittocelsius">Convert temperature from Fahrenheit to Celsius</a></li>
    <li><a routerLink="/bookmarklist">display them using anchor tags</a></li>
    <li><a routerLink="/charactercounter">count the number of characters</a></li>
    <li><a routerLink="/palindromechecker">check if it's a palindrome</a></li>
    <li><a routerLink="/temperatureconverter">Convert temperature from Celsius to Fahrenheit and vice versa</a></li>
    <li><a routerLink="/shoppinglist">mmm</a></li>
    <li><a routerLink="/factorialcalculator">mmm</a></li>
    <li><a routerLink="/todomanager">mmm</a></li>
    <li><a routerLink="/guessnumbergame">mmm</a></li>
    <li><a routerLink="/wordcounter">mmm</a></li>
    <li><a routerLink="/randomnumbergenerator">mmm</a></li>
    <li><a routerLink="/multiplicationchecker">mmm</a></li>
    <li><a routerLink="/uppercaseconverter">mmm</a></li>
    <li><a routerLink="/wordshuffler">mmm</a></li>
    <li><a routerLink="/bmisolver">mmm</a></li>
    <li><a routerLink="/usernamevalidator">mmm</a></li>
    <li><a routerLink="/interestcalculator">mmm</a></li>
    <li><a routerLink="/compoundinterestcalculator">mmm</a></li>
    <li><a routerLink="/fibonaccigenerator">mmm</a></li>
    <li><a routerLink="/oddsumcalculator">mmm</a></li>
    <li><a routerLink="/currencyformatter">mmm</a></li>
    <li><a routerLink="/randomquotedisplay">mmm</a></li>
    <li><a routerLink="/uppercasegreeting">mmm</a></li>
    <li><a routerLink="/divisiblechecker">mmm</a></li>
    <li><a routerLink="/timer">mmm</a></li>
    <li><a routerLink="/stopwatch">mmm</a></li>
    <li><a routerLink="/colorchanger">mmm</a></li>
    <li><a routerLink="/numbercomparator">mmm</a></li>
    <li><a routerLink="/jsonviewer">mmm</a></li>
    <li><a routerLink="/apicaller">mmm</a></li>
    <li><a routerLink="/randomcolor">mmm</a></li>
    <li><a routerLink="/weatherreporter">mmm</a></li>
    <li><a routerLink="/linkpreview">mmm</a></li>
    <li><a routerLink="/reminder">mmm</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>